appdirs==1.4.4
autograd==1.4
autoray==0.2.5
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
future==0.18.2
idna==3.3
networkx==2.8
ninja==1.10.2.3
numpy==1.22.3
PennyLane==0.24.0
PennyLane-Lightning==0.24.0
PyJWT==2.3.0
requests==2.27.1
retworkx==0.11.0
scipy==1.8.0
semantic-version==2.6.0
toml==0.10.2
urllib3==1.26.9
