alabaster
appdirs
autograd
autoray
Babel
cachetools
certifi
charset-normalizer
docutils
future
idna
imagesize
importlib-metadata
Jinja2
MarkupSafe
networkx
ninja
numpy
packaging
PennyLane
PennyLane-Lightning
Pygments
PyJWT
pyparsing
pytz
requests
retworkx
scipy
semantic_version==2.6
snowballstemmer
Sphinx
sphinx-automodapi
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
toml
urllib3
zipp
